extends ../layout.pug

block content
  if flash
    .alert(class=`alert-${flash.type}` role='alert')= flash.message
  h2 Registro
  form(action='/users' method='post')
    .mb-3
      label.form-label(for='data_firstName') Nombre
      input.form-control(type='text' id='data_firstName' name='data[firstName]' required minlength='1')
    .mb-3
      label.form-label(for='data_lastName') Apellido
      input.form-control(type='text' id='data_lastName' name='data[lastName]' required minlength='1')
    .mb-3
      label.form-label(for='data_email') Correo
      input.form-control(type='email' id='data_email' name='data[email]' required)
    .mb-3
      label.form-label(for='data_password') Contraseña
      input.form-control(type='password' id='data_password' name='data[password]' required minlength='3')
    button.btn.btn-primary(type='submit') Registrar
